body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(39,48,55);
    background: radial-gradient(circle, rgba(39,48,55,1) 90%, rgb(43, 51, 57) 100%);
    margin: 0;
    padding: 0;
}

.menu ul{
    font-size: larger;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    background-color: #72a0c1;
    background: linear-gradient(0deg, rgba(114,160,193,1) 0%, rgba(89,124,149,1) 100%);
    padding: 1em;
    list-style-type: none;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover{
    color:#5fb5f8;
}



.menu a{
    color: #fff;
    text-decoration: none;
}

.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.carrousel image{
    width: 300px;
    height: 200px;
}

.articles-container{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.articles-column{
    flex: 1;
    margin: 1em;
}

.contact-form {
    border: 2px solid #ffffff36;
    margin: 2em;
    padding: 20px;
    margin:20px;
    background-color: #ffffff21;
    display:inline-block;
    color:#fff;

}
.contact-form form{
    text-align: right;
    margin:0;
}

.cajacol{
    background-color:#72a0c1;
    padding:20px;
    margin:10px;
    border-radius: 2px;
    display:inline-block;
    color:#fff;

}

.carrousel{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
#prev{
    width: 60px;
    height: 60px;
    background-image: url(img/boton1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    cursor:pointer;
    transition: transform 0.1s ease-in-out;
}
#prev:hover{
    transform: scale(1.2,1.2);
}
#next{
    width: 60px;
    height: 60px;
    background-image: url(img/boton2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:none;
    cursor:pointer;
    transition: transform 0.1s ease-in-out;
}
#next:hover{
    transform: scale(1.2,1.2);
}