body{
    font-family: 'Calibri', sans-serif;
    background: rgb(39,48,55);
    background: radial-gradient(circle, rgba(39,48,55,1) 90%, rgba(27,31,34,1) 100%)
    color: #000;
    margin: 0;
    padding: 0;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    background-color: rgb(114,160,193);
    background: linear-gradient(0deg, rgba(114,160,193,1) 0%, rgba(89,124,149,1) 100%);
    padding: 1em;
    list-style-type: none;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover{
    color:#5fb5f8;
}



.menu a{
    color: #fff;
    text-decoration: none;
}

.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.carrousel image{
    width: 300px;
    height: 200px;
}

.articles-container{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.articles-column{
    flex: 1;
    margin: 1em;
}

.contact-form{
    margin: 2em;
}